<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<mapper namespace="kr.noname.noname.user.repository.UserRepository">
    <select id="findByLoginId" resultType="kr.noname.noname.user.entity.CmUserInfo">
        /* kr.noname.noname.user.repository.UserRepository.findByLoginId */
        SELECT USER_UID, USER_NM, USER_NKNM, BHDT, GNDR_CD, USER_CNO, USER_EMAIL, LOGIN_ID, LOGIN_PW, PW_UPDT_DTM
             , LOGIN_LOCK_YN, RCNT_LOGIN_DTM, USE_YN, RCRD_REG_DTM, RCRD_REG_ID, RCRD_UPDT_DTM, RCRD_UPDT_ID
          FROM CM_USER_INFO
         WHERE USE_YN = 'Y'
           AND LOGIN_ID = #{loginId}
    </select>

    <select id="checkDuplicateForLoginId" resultType="int">
        /* kr.noname.noname.user.repository.UserRepository.checkDuplicateForLoginId */
        SELECT COUNT(LOGIND_ID) FROM CM_USER_INFO WHERE LOGIN_ID = #{loginId}
    </select>

    <select id="checkDuplicateForUserNknm" resultType="int">
        /* kr.noname.noname.user.repository.UserRepository.checkDuplicateForUserNknm */
        SELECT COUNT(USER_NKNM) FROM CM_USER_INFO WHERE USER_NKNM = #{userNknm}
    </select>

    <insert id="signUp">
        /* kr.noname.noname.user.repository.UserRepository.signUp */
        INSERT INTO CM_USER_INFO(USER_UID, USER_NM, USER_NKNM, BHDT, GNDR_CD, USER_CNO, USER_EMAIL
                  , LOGIN_ID, LOGIN_PW, PW_UPDT_DTM, LOGIN_LOCK_YN, RCNT_LOGIN_DTM, USE_YN
                  , RCRD_REG_DTM, RCRD_REG_ID, RCRD_UPDT_DTM, RCRD_UPDT_ID)
        VALUES(#{userUid}, #{userNm}, #{userNknm}, #{bhdt}, #{gndrCd}, #{userCno}, #{userEmail}
            , #{loginId}, #{loginPw}, #{pwUpdtDtm}, #{loginLockYn}, #{rcntLoginDtm}, #{useYn}
            , #{rcrdRegDtm}, #{rcrdRegId}, #{rcrdUpdtDtm}, #{rcrdUpdtId})
    </insert>

    <delete id="withdrawal">
        DELETE FROM CM_USER_INFO WHERE USER_UID = #{userUid}
    </delete>
</mapper>